// 字体大小规范
$ya-font-small = 15px

// 字体规范
@font-face
    font-family CoreSansCR
    src url("~common/font/CoreSansCR-15Thin.ttf")
@font-face
    font-family WorkSans
    src url("~common/font/WorkSans-Thin.woff.ttf")

// 图片尺寸规范
$ya-img-normal = 15px

// UI大小规范
$top-height = 48px