// 字体大小规范
$ya-font-small-s = 10px
$ya-font-small = 15px
$ya-font-normal = 20px
$ya-font-big = 25px
$ya-font-big-b = 30px

// 字体规范
@font-face
    font-family CoreSansCR
    src url("~common/font/CoreSansCR-15Thin.ttf")
@font-face
    font-family WorkSans
    src url("~common/font/WorkSans-Thin.woff.ttf")
@font-face
    font-family fz503
    src url("~common/font/fz503L.ttf")
@font-face
    font-family fz504
    src url("~common/font/fz504L.ttf")

// 图片尺寸规范
$ya-img-normal = 15px
$ya-img-big = 32px

// UI大小规范
$ya-top-height = 48px